header {
    height: 65px;
    width: 100%;
    background-color: #303030;
    margin-bottom: 30px;
}

body {
    background-color: #222222;
    color: #eeeeee;
    margin: 0;
    text-align: center;
}

.page-title {
    color: #fff;
    line-height: 65px;
    margin: 0;
}

.block {
    text-align: center;
    display: block;
}